<div class="banner">
  <div class="container h-100 d-flex align-items-center">
    <div>
      <h1>Find your next stay</h1>
      <p>Search deals on hotels, homes and much more...</p>
    </div>
  </div>
</div>
<div class="container">
  <form>
    <div class="row">
      <div class="d-flex justify-content-center mx-auto px-0">
        <div class="col">
          <input type="text" class="form-control" placeholder="Where are you going">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Check-in" onfocus="(this.type='date')" onblur="(this.type='text')">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Check-out" onfocus="(this.type='date')" onblur="(this.type='text')">
        </div>
        <div class="col stop-grow">
          <button class="btn btn-primary h-100 set-border" type="submit">Search</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="d-flex justify-content-start mx-auto px-0">
        <div class="col-5">
          <div class="form-check mt-2">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">I'm looking for an entire home or apartment</label>
          </div>
        </div>
        <div class="col-4">
          <div class="form-check mt-2">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">I'm traveling for work</label>
          </div>
        </div>
      </div>
    </div>
  </form>
  <h3 class="mt-3">Browse by property type</h3>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="cards-wrapper">
          <div class="card">
            <img src="https://q-xx.bstatic.com/xdata/images/xphoto/300x240/45450073.jpeg?k=795a94c30433de1858ea52375e8190a962b302376be2e68aa08be345d936557d&o=" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Guest Houses</h5>
              <p class="card-text">xxxx guest houses</p>
            </div>
          </div>
          <div class="card">
            <img src="https://q-xx.bstatic.com/xdata/images/xphoto/300x240/45450082.jpeg?k=beb101b827a729065964523184f4db6cac42900c2415d71d516999af40beb7aa&o=" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Hostels</h5>
              <p class="card-text">xxxx hostels</p>
            </div>
          </div>
          <div class="card">
            <img src="https://r-xx.bstatic.com/xdata/images/xphoto/300x240/45450093.jpeg?k=aa5cc7703f3866af8ffd6de346c21161804a26c3d0a508d3999c11c337506ae1&o=" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Motels</h5>
              <p class="card-text">xxxx motels</p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="cards-wrapper">
          <div class="card">
            <img src="https://q-xx.bstatic.com/xdata/images/xphoto/300x240/45450113.jpeg?k=76b3780a0e4aacb9d02ac3569b05b3c5e85e0fd875287e9ac334e3b569f320c7&o=" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Vacation Homes</h5>
              <p class="card-text">xxxx vacation homes</p>
            </div>
          </div>
          <div class="card">
            <img src="https://q-xx.bstatic.com/xdata/images/xphoto/300x240/45450056.jpeg?k=251e2507d43a24a4c58bb961b8d157147d56efbf91b49f9606bc768c58f581e4&o=" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">B&Bs</h5>
              <p class="card-text">xxxx B&Bs</p>
            </div>
          </div>
          <div class="card">
            <img src="https://r-xx.bstatic.com/xdata/images/xphoto/300x240/45450279.jpeg?k=cb9ab85ffe439f3030e00281f2d52583a398bf076e54f00f746e1d1baf62bf6e&o=" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ryokans</h5>
              <p class="card-text">xxxx ryokans</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-target="#slider" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-target="#slider" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
